.form-control{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.form-control .form-label{
        margin: 0.4rem;
}

.form-control .form-label label{
        margin: 1rem;
        min-width: 20rem;
}

.form-control .form-label input{
        width: 20rem ;
}